{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Curso</title>
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
</head>
<body>
    <h1>Editar {{ course.name }}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
        <a href="{% url 'courses:course_list' %}">Cancelar</a>
    </form>
</body>
</html>